.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: grayscale(1);
  backdrop-filter: grayscale(1);
}

.Popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  border-width: 2px;
  border-color: black;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  justify-content: center;
  padding: 0px 40px 0px 40px;
  align-items: center;
}

.Login-popup {
  width: 400px;
  height: 400px;
}

.Signup-popup {
  width: 400px;
  height: 520px;
}

@media screen and (max-width: 400px) { 
  .Login-popup {
    width: 300px;
    height: 400px;
  }
  
  .Signup-popup {
    width: 300px;
    height: 520px;
  }  
}


.Login-Title {
  font-size: 30px;
  font-weight: bold;
  color: #111;
  padding-top: 10px;
}

.Login-Input-Section {
  text-align: left;
}

.Login-Input {
  height: 45px;
  width: 100%;
  margin-bottom: 10px;
}

.Login-Input-Title {
  color: #707070;
  margin-top: 10px;
}

.Login-Remember-Me-Section {
  display: flex;
  width: 100%;
}

.Login-Button {
  height: 33px;
  width: 200px;
  border-width: 1px;
  border-radius: 17px;
  border-color: #707070;
  background-color: #6E6ED6;
  margin-top: 20px;
  color: white;
  font-size: 18px;
}