.wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.inner {
    width: 100%;
    margin: auto;
    padding: 40px 55px 45px 55px;
    transition: all .3s;
}

.cta {
    background-color: #6e6ed6; 
    border-radius: 12px;
    border: none;
    color: white;
    padding: 18px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 8px;
}

.cta:hover {
    background-color: #6262bf; 
    border-radius: 12px;
    border: none;
    color: white;
    padding: 18px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 8px;
}

h2 {
    margin-top: 8px;
    font-size: 5em;
}

h3 {
    font-size: 1.7em;
}

